@font-face{
	font-family:motley;
	src:url(../fonts/Motley.ttf);
}
p {
	color: #301b03;
	background-color: #FAF4D1;
	font-family:motley;
	
}

/* why do we need this??? or else it breaks */
p::first-letter {
	font-size: 100%;
}


h1{
	font-family:motley;
	background-color: #301b03;
	color: #FAF4D1;
	
}

#important1 {
	font-size: 400%;
}

#important2{
	text-transform: uppercase;
}

#important5:hover {
	color: PINK;
}

.important{
	font-family:motley;
	background-color: #301b03;
	color: #FAF4D1;
}

h2{ 
	font-family:motley;
	background-color: #301b03;
	color: #FAF4D1
}


body{
	background-color: #89D6E3;
}

li > a{
	color: #146C99;
}

.mynav li{
	display: inline; 
	margin-right: 10px;}
		
	
div.mynav{
	display: flex;
	position: fixed;
	width: 95%;
	top: 0px;
	left: 0px;
	font-family:motley;
    color: #FAF4D1 ;
	height: 100px;
	background-color: #FAF4D1;
	border-style: ridge;
	border-width: 30px;
	border-color: #3d85a6;
	padding: 10px;
}

div.main{
	margin-top: 128px;
	padding: 32px;
}

div.content{
	margin-top: 128px;
	padding: 32px;
}
#bordering {
	border: 10px solid transparent;
padding: 15px;
}

	fieldset {
	 		    font-family:motley;
	 		    color: #FAF4D1;
				width: 400px;
				border: 1px solid #dcdcdc;
				border-radius: 10px;
				padding: 20px;
				text-align: center;
				background-color: #146C99;
				margin-right: auto;
				margin-left: auto;
				
}
			legend {
				background-color: #FAF4D1;
				color: #146C99;
				border: 1px solid #dcdcdc;
				border-radius: 20px;
				padding: 10px 20px;
				text-align: left;
				text-transform: uppercase;
				text-align:center;
}

form {
	text-align:center;
	font-family:motley;
	 color: #301b03;
	
}

form img {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

input[type="text"]:focus{
	background-color: #7dc4e8;
}
				
	body {
				background-image: url("../images/cutting_board.jpg");
				background-repeat: repeat;
				background-attachment: fixed;
				background-size:cover;
				
}

input[type="submit"]:hover{
	background-color: #7dc4e8;
}			

#lists{
	font-family:motley;
	color: #301b03;
}	

#lists2{
	font-family:motley;
	color: #301b03;
}

#links{
	font-family:motley;
	color: #301b03;
}

#links2{
	font-family:motley;
	color: #301b03;
}

img.align-center {
	display: block;
	margin: 0px auto;
	max-width: 700px;
	height: auto;
}

img.align-right {
	display: block;
	float: right;
	margin-left:10px;
}

img {
	max-width: 400px;
	height: auto;
}

.grid{
	display:grid;
	gap: 10px;	
	background-color: black;	
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 1rem;
	list-style-type: none;
	font-family:motley;
	color: #301b03;
}

.griditems{
		background-color: white;
		border: 20px solid red;
		text-align: center;
		font-size: 32px;
		padding: 5%;
}

label {
	display: block;
	text-align: center;
	margin: 0px auto;
	font-weight: bold;
	font-size: 28px;

}


@media (max-width:700px){
	.random{
	background-color:black;
	color:green;
	border: 15px solid green;

}
}

@media (min-width:700px){
.random{
	color:purple;
	background-color: pink;
	border: 15px solid purple;

}
}

h3.labelText {
	font-size: 32px;
	text-align: center;
	font-family:motley;
	color: #301b03;
}